---
interface Heading {
  depth: number;
  slug: string;
  text: string;
}

const { headings = [] } = Astro.props as { headings: Heading[] };
const h2s = headings.filter((h) => h.depth === 2);
---

{h2s.length > 0 && (
  <details class="mobile-toc">
    <summary>On this page</summary>
    <ul>
      {h2s.map((h) => (
        <li>
          <a href={`#${h.slug}`}>{h.text}</a>
        </li>
      ))}
    </ul>
  </details>
)}
